/* odin-recipe.css */

body {
    background-color: #FEFAE0;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}

button {
    color: rgb(255, 255, 255);
    background-color: hsl(232, 93.8%, 6.3%);
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

#subheading {
    font-style: italic;
    font-weight: bold;
}

.image {
    height: auto;
    width: 350px;
}
